<div class="drag-grid">
  <span class="row-mark">row</span>
  <div class="drag-grid-toolbar">
    <button nz-button nzType="dashed" nzSize="small" nz-tooltip nzTitle="拖动" class="drag-button"><i nz-icon
        nzType="drag"></i></button>
    <button nz-button nzType="dashed" nzSize="small" nz-tooltip nzTitle="删除" class="drag-button"><i nz-icon
        nzType="delete"></i></button>
  </div>
  <div nz-row nzGutter="32">
    <div nz-col nzSpan="12" class="drag-grid-col">
    </div>
    <div nz-col nzSpan="12" class="drag-grid-col"></div>
  </div>
</div>
