.layout-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.logo {
  height: 64px;
  line-height: 64px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 30px 16px 0;
  float: left;
  color: #fff;
  font-size: 26px;
  margin: 0 20px 0 0;
  white-space: nowrap;
}

.logo i {
  margin-right: 5px;
}

.layout-wrap .ant-layout-header {
  padding-left: 20px;
}

.header-menu {
  line-height: 64px;
}

.header-menu .header-icon {
  font-size: 22px;
}

.sider-menu {
  overflow: auto;
  height: 100%;
  border-right: 0;
}

.sider-menu .drag {
  position: absolute;
  right: 5px;
}

.inner-layout {
  padding: 20px;
  background: #fff;
}

.inner-layout .container {
  border: 1px solid #ebedf0;
  position: relative;
}

.inner-layout .container::after {
  content: 'container';
  width: 66px;
  height: 26px;
  line-height: 26px;
  padding: 0 2px;
  background-color: rgb(190, 200, 200);
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 2px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

// 删格设置
.grid-setting {
  width: 100px;
}
