<nz-layout class="layout-wrap">
  <nz-header>
    <div class="logo">
      <i nz-icon nzType="layout" nzTheme="outline"></i>
      <span>可视化布局</span>
    </div>
    <ul nz-menu [nzSelectable]="false" nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item>
        <a href="https://github.com/luohong123/AngularDragLayout" target="_blank" nzPlacement="left" nz-tooltip
          nzTitle="github">
          <i nz-icon class="header-icon" nzType="github" nzTheme="outline"></i>
        </a>
      </li>
      <li nz-menu-item>
        <nz-button-group [nzSize]="small">
          <button nz-button nzType="primary"><i nz-icon nzType="edit" nzTheme="outline"></i>编辑</button>
          <button nz-button nzType="primary"><i nz-icon nzType="form" nzTheme="outline"></i>布局编辑</button>
          <button nz-button nzType="primary"><i nz-icon nzType="eye" nzTheme="outline"></i>预览</button>
        </nz-button-group>
      </li>
      <li nz-menu-item>
        <nz-button-group [nzSize]="small">
          <button nz-button nzType="primary"><i nz-icon nzType="cloud-download" nzTheme="outline"></i>下载</button>
          <button nz-button nzType="primary"><i nz-icon nzType="export" nzTheme="outline"></i>导出</button>
          <button nz-button nzType="primary"><i nz-icon nzType="save" nzTheme="outline"></i>保存</button>
          <button nz-button nzType="primary"><i nz-icon nzType="delete" nzTheme="outline"></i>清空</button>
        </nz-button-group>
      </li>
      <li nz-menu-item>
        <nz-button-group [nzSize]="small">
          <button nz-button nzType="primary"><i nz-icon nzType="rollback" nzTheme="outline"></i>撤销</button>
          <button nz-button nzType="primary"><i nz-icon nzType="retweet" nzTheme="outline"></i>重做</button>
        </nz-button-group>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <!-- 拖拽组件 -->
    <nz-sider nzWidth="200px">
      <ul nz-menu nzMode="inline" nzTheme="dark" class="sider-menu">
        <li nz-menu-item>
          <nz-select style="width: 100px;" nzSize="small" [(ngModel)]="selectedUi" nzAllowClear nzPlaceHolder="请选择UI组件">
            <nz-option nzValue="antd" nzLabel="antd"></nz-option>
            <nz-option nzValue="material" nzLabel="material"></nz-option>
          </nz-select>
          - UI
        </li>
        <li nz-submenu nzOpen nzIcon="user" nzTitle="布局设置">
          <ul>
            <li nz-menu-item>
              <input nz-input class="grid-setting" [(ngModel)]="grid1" nzSize="small" />
              <drag-button class="drag" [draggable]="true" dragName="grid1">
              </drag-button>
            </li>
            <li nz-menu-item>
              <input nz-input class="grid-setting" [(ngModel)]="grid2" nzSize="small" />
              <drag-button class="drag" [draggable]="true" dragName="grid2"></drag-button>
            </li>
            <li nz-menu-item>
              <input nz-input class="grid-setting" [(ngModel)]="grid3" nzSize="small" />
              <drag-button class="drag" [draggable]="true" dragName="grid3"></drag-button>
            </li>
            <li nz-menu-item>
              <input nz-input class="grid-setting" [(ngModel)]="grid4" nzSize="small" />
              <drag-button class="drag" [draggable]="true" dragName="grid4"></drag-button>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="通用" nzIcon="laptop">
          <ul>
            <li nz-menu-item>
              按钮
              <drag-button class="drag" [draggable]="true" dragName="button">
              </drag-button>
            </li>
            <li nz-menu-item>
              图标
              <drag-button class="drag" [draggable]="true" dragName="icon">
              </drag-button>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="subnav 3" nzIcon="notification">
          <ul>
            <li nz-menu-item>option9</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content class="container" #container (dragover)="dragover_handler($event)"
        (dragenter)="dragenter_handler($event)" (drop)="drop_handler($event)">
        <!-- 拖拽组件到这里 -->
        <drag-grid></drag-grid>
      </nz-content>
    </nz-layout>
    <!-- 定义组件属性 -->
    <nz-sider nzWidth="200px">
      <ul nz-menu nzMode="inline" nzTheme="dark" class="sider-menu">
        <li nz-menu-item>
          <nz-select style="width: 100px;" nzSize="small" [(ngModel)]="selectedUi" nzAllowClear nzPlaceHolder="请选择UI组件">
            <nz-option nzValue="antd" nzLabel="antd"></nz-option>
            <nz-option nzValue="material" nzLabel="material"></nz-option>
          </nz-select>
          组件
        </li>
        <li nz-submenu nzOpen nzIcon="user" nzTitle="组件设置">
          <ul>
            <li nz-menu-item>
              to do
            </li>
            <li nz-menu-item>
              to do
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
  </nz-layout>
</nz-layout>
